<%= form_for(@player_position) do |f| %>
  <% if @player_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_position.errors.count, "error") %> prohibited this player_position from being saved:</h2>

      <ul>
      <% @player_position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.text_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :position_id %><br>
    <%= f.text_field :position_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
